body {
    background-color: antiquewhite;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    font-style: italic;
}

p {
    text-align: center;
    margin: auto;
    font-style: oblique;
}

h3 {
    font-size: 36px;
    font-style: italic;
}

.headlight {
    text-align: center;
    color: grey;
}

.return {
    font-size: 28px;
    margin-top: 100px;
}