* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image { 
    display: inline-block;
    width: 500px;
    height: 550px;
    margin-top: 85px;
    margin-left: 30px;
    vertical-align: top;
}

h1 {
    margin-top: 0px;
}

ul li {
    display: inline-block;
    margin-left: 16px;
}

ul {
    list-style: none;
}

.title {
    color: grey;
    text-transform: uppercase;
}

.sub-title { 
    margin-top: 8px;
    margin-bottom: 8px;
    color: grey;
}

p { 
    margin-bottom: 20px;
    font-size: 18px;
}

.card {
    background-color: #fffcfc;
    margin: 30px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    width: 1100px;
  }

  .content { 
    padding: 10px;
    display: inline-block;
    width: 500px;
    margin-left: 20px;
    text-align: center;
  }
  
  ul li { 
    font-size: 26px;
  }

